.container {
    margin: auto;
    max-width: 600px;
    padding: 20px;
    height: 100vh;
}

.content {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    font-size: 11pt;
}

.paragraph {
    line-height: 5pt;
    margin-bottom: 10px; /* between paragraphs */
    padding: 0px;
}

.table {
    width: 40rem;
    border-collapse: collapse;
    margin: auto;
}

.header_row {
    background-color: #acacac;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.cell {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.even_row {
    background-color: #f9f9f9;
}

.odd_row {
    background-color: #e9e9e9;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
